* text=auto eol=lf
static/data/130001_tokyo_covid19_patients.csv filter=lfs diff=lfs merge=lfs -text
static/data/130001_tokyo_covid19_patients_2022.csv filter=lfs diff=lfs merge=lfs -text
static/data/130001_tokyo_covid19_patients_2020.csv filter=lfs diff=lfs merge=lfs -text
static/data/130001_tokyo_covid19_patients_2021.csv filter=lfs diff=lfs merge=lfs -text
