@function px2vw($px, $vw: 600) {
  @return $px / $vw * 100vw;
}
// common
.container {
  color: $gray-2;
  font-size: px2vw(22);
  font-weight: bold;
  line-height: 1.35;
  // override default styles
  em {
    font-style: normal;
  }
  // override Vuetify styles
  p {
    margin-bottom: 0;
  }
}
// common
.heading {
  text-align: center;

  .icon {
    display: block;
    margin: 0 auto px2vw(20);
    width: px2vw(72);
    height: px2vw(72);
  }
}
// past, general, older ,suspect
.rectContainer {
  margin-top: px2vw(20);
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  // override Vuetify sytle (ul)
  padding-left: 0 !important;

  .symptom {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: px2vw(92);
    margin-top: px2vw(30);
    padding: px2vw(15) px2vw(15) px2vw(10);
    border: px2vw(4) solid $green-1;
    border-radius: px2vw(5);
    text-align: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      width: px2vw(50);
      height: px2vw(50);
      background-color: $white;
      border-radius: px2vw(25);
      background-image: url(/flow/check_circle-24px.svg);
      background-size: cover;
      left: 0;
      right: 0;
      top: px2vw(-8);
      transform: translateY(-50%);
    }
  }
  // general, elder
  &.double {
    flex-wrap: wrap;

    > .symptom {
      flex-basis: 48%;

      &:nth-child(n + 3) {
        margin-top: px2vw(45);
      }
    }
  }
}
// general, elder
.duration {
  margin-top: px2vw(30);
  text-align: center;
  line-height: 1.15;
}
// suspect, advisory
.phone {
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:first-child) {
    margin-top: px2vw(30);
  }

  > * {
    display: block;
  }

  .icon {
    width: px2vw(42);
    height: px2vw(42);
    margin-right: px2vw(10);

    > img,
    > svg {
      display: block;
    }
  }

  a {
    line-height: 1;
    text-decoration: none;
  }
}
// past, general, elder ,suspect
.button {
  margin-top: px2vw(30);
  padding: 0 px2vw(30) 0 px2vw(36);
  height: px2vw(96);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffe200;
  border-radius: px2vw(6);
  text-decoration: none;

  .text {
    color: $gray-2;
  }

  .icon {
    margin-left: px2vw(10);
    width: px2vw(45);
    height: px2vw(45);
    transform: rotateZ(90deg);
    display: block;
  }
}
// common
.fzSmall {
  font-size: px2vw(18);
}

.fzRegular {
  font-size: px2vw(22);
}

.fzMedium {
  font-size: px2vw(24);
}

.fzLarge {
  font-size: px2vw(30);
}

.fzXLarge {
  font-size: px2vw(36);
}

.fzNumeric {
  font-size: px2vw(50);
}

.mt5 {
  margin-top: px2vw(5);
}

.mt10 {
  margin-top: px2vw(10);
}

.mb10 {
  margin-bottom: px2vw(10);
}

.underline {
  border-bottom: px2vw(4) solid $green-1;
}

.break {
  display: block;
}

.clickable {
  box-shadow: 0 px2vw(1.2) px2vw(6) $gray-3;
}

// 601-768 (769以上はPC版)
@include largerThan($small) {
  // サイドバーが固定幅でコンテンツエリアが狭いため基準を大きくして調整する
  $vw: 960;
  // common
  .container {
    font-size: px2vw(22, $vw);
  }
  // common
  .heading {
    .icon {
      margin: 0 auto px2vw(20, $vw);
      width: px2vw(72, $vw);
      height: px2vw(72, $vw);
    }
  }
  // past, general, older ,suspect
  .rectContainer {
    margin-top: px2vw(20, $vw);

    .symptom {
      min-height: px2vw(92, $vw);
      margin-top: px2vw(30, $vw);
      padding: px2vw(15, $vw) px2vw(15, $vw) px2vw(10, $vw);
      border: px2vw(4, $vw) solid $green-1;
      border-radius: px2vw(5, $vw);

      &::before {
        width: px2vw(50, $vw);
        height: px2vw(50, $vw);
        border-radius: px2vw(25, $vw);
        top: px2vw(-8, $vw);
      }
    }
    // general, elder
    &.double {
      > .symptom {
        &:nth-child(n + 3) {
          margin-top: px2vw(45, $vw);
        }
      }
    }
  }
  // general, elder
  .duration {
    margin-top: px2vw(30, $vw);
  }
  // suspect, advisory
  .phone {
    &:not(:first-child) {
      margin-top: px2vw(30, $vw);
    }

    .icon {
      width: px2vw(42, $vw);
      height: px2vw(42, $vw);
      margin-right: px2vw(10, $vw);
    }
  }
  // past, general, elder ,suspect
  .button {
    margin-top: px2vw(30, $vw);
    padding: 0 px2vw(30, $vw) 0 px2vw(36, $vw);
    height: px2vw(96, $vw);
    border-radius: px2vw(6, $vw);

    .icon {
      margin-left: px2vw(10, $vw);
      width: px2vw(45, $vw);
      height: px2vw(45, $vw);
    }
  }
  // common
  .fzSmall {
    font-size: px2vw(18, $vw);
  }

  .fzRegular {
    font-size: px2vw(22, $vw);
  }

  .fzMedium {
    font-size: px2vw(24, $vw);
  }

  .fzLarge {
    font-size: px2vw((30 - 2), $vw);
  }

  .fzXLarge {
    font-size: px2vw((36 - 4), $vw);
  }

  .fzNumeric {
    font-size: px2vw((50 - 4), $vw);
  }

  .underline {
    border-bottom: px2vw(4, $vw) solid $green-1;
  }

  .clickable {
    box-shadow: 0 px2vw(1.2, $vw) px2vw(6, $vw) $gray-3;
  }
}
