:root {
  box-sizing: border-box;
}

body {
  background-color: $gray-5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

*:focus {
  outline: dotted $gray-3 1px;
}

.visually-hidden { 
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 1px !important;
  height: 1px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  visibility: visible !important;
}
