:root {
  box-sizing: border-box;
}

body {
  background-color: $gray-5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

@media print {
  .SideNavigation {
	>.SideNavigation-HeadingDivider {
      display: none;
    }
    >.sp-none {
      >.v-list {
        display: none;
      }
      >.SideNavigation-Footer {
        padding-top: 0;
        padding-bottom: 0;
        >.SideNavigation-SocialLinkContainer {
          display: none;
        }
      }
    }
  }
  .Flow-Card {
    >.only-sp {
      display: none;
    }
    >.Flow-Card-Button {
      display: none;
    }
  }
  .v-data-table__wrapper {
  	height: 100% !important;
  }
}