// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$green-1: #00A040;

$gray-1: #333333;
$gray-2: #4D4D4D;
$gray-3: #808080;