// ==================
// color
$green-1: #008830;
$green-2: #00B849;
$green-3: #00D154;
$green-4: #00EB5E;
$gray-1: #333333;
$gray-2: #4D4D4D;
$gray-3: #707070;
$gray-4: #D9D9D9;
$gray-5: #F8F9FA;
$white: #FFFFFF;
$link: #006CA8;

// ==================
// shadow
$shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);

// ==================
// break-points
$huge: 1440;
$large: 1170;
$medium: 768;
$small: 600;
$tiny: 320;

// ==================
// z-index
$z-index-map: (
  opened-side-navigation: 101,
  sp-navigation: 100,
);
@function z-index-of($key) {
  @return map-get($z-index-map, $key);
}

// ==================
// media-query
@mixin largerThan($width) {
  @media screen and (min-width: $width + 1 + px) {
    @content;
  }
}

@mixin lessThan($width) {
  @media screen and (max-width: $width + px) {
    @content;
  }
}

// ==================
// font-size
@mixin font-size($size, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) + rem;
}
@mixin card-h1 {
  @include font-size(24);
  color: $gray-2;
  font-weight: bold;
}
@mixin card-h2 {
  @include font-size(19);
  color: $gray-2;
  font-weight: bold;
}
@mixin card-h3 {
  @include font-size(16);
  color: $gray-2;
  font-weight: bold;
}
@mixin body-text {
  @include font-size(16);
  color: $gray-1;
  line-height: 160%;
  font-weight: normal;
}

// ===================
// button
@mixin text-link {
  @include font-size(14);
  color: $link !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin button-text($size: 'md') {
  @if ($size == 'sm') {
    padding: 4px 8px;
  } @else {
    padding: 24px 36px;
  }
  @include font-size(14);
  display: inline-block;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $green-1;
  color:$green-1;
  cursor: pointer;
  &:hover {
    background-color: $green-1;
    color: $white;
    > i {
      color: $white !important;
    }
  }
}

// ===================
// card
@mixin card-container {
  background-color: $white;
  box-shadow: $shadow;
  border: 0.5px solid $gray-4 !important;
  border-radius: 4px;
}
