name: OGP Builder

on:
  push:
    branches:
      - staging
      - feature/issue-1278-update-ogp-image-with-deploykey
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          public-key: ${{ secrets.SSH_KEY_PUBLIC }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
      - run: git clone -b ogp git@github.com:tokyo-metropolitan-gov/covid19.git ogp
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install --frozen-lockfile
      - run: yarn run test
      - run: yarn run generate:deploy
      - run: pip install selenium
      - run: (python -m http.server --directory ./dist 8000 &)  ; python ./ui-test/ogp_screenshot.py
      - run: git config --global user.email "bot@example.com"
      - run: git config --global user.name "OGP Builder"
      - run: cd ogp && git add .
      - run: cd ogp && git commit -m "update ogp image"
      - run: cd ogp && git push origin ogp